/*ejemplo2.css ga18069*/
pais{background-color: blue;}
departamento{background-color: brown;display: block;}
cabecera{color: chartreuse;display: inline;}
habitantes{color: coral;display: inline;}
altura{color: crimson;display: inline;}
area_territorial{color: darkkhaki;display: inline;}